.App{
  width: 40%;
  margin: 2rem auto;
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  color: #fff;
}
.todo-header{
  padding: 0.5rem;
  border-bottom: 1px solid #2c3035;
}
.todo-header h1{
  margin: 0;
}